#skillTitle{
    text-align: center;
    margin: 3rem 0 2rem 0;
    color:#071E48;
    font-weight: bolder;
}

.bar{
  
  margin:.5rem 0;
}
.thumb{
    background-color:"#000";
    margin:.5rem 0;
    padding:"0";
    background-color: rgb(226, 226, 226);
}
.titleBar{
    background-color:"#fff";
    position:"relative";
    color:rgb(255, 255, 255);
    padding: .5rem;
}
.titleBarSkill{
    position: relative;
    margin: 1rem;
}